/* "Roboto" font from google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: inherit;
}
:root {
  --aliceblue: aliceblue;
}

body {
  margin: 0px;
  background-image: linear-gradient(75deg, #00e0ff, #7000ff 48%, #ff6868);
  font-family: "Roboto", sans-serif;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.playground {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: var(--aliceblue);
  padding: 10px;
  border-radius: 5px;
  margin-top: 30px;
}

.box {
  background-color: azure;
  border: 1px solid rgb(15, 25, 220);
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
  width: 7rem;
  height: 7rem;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
  border: 2px solid;
  border-image: linear-gradient(to right, #00e0ff, #9904b0 48%) 1;
}

.box:hover {
  background-color: rgba(var(--aliceblue), 0.5);
}

.box:active {
  background-color: var(--aliceblue);
  border-radius: 5px;
  margin: 0;
}

.title {
  background: linear-gradient(75deg, #00e1ff88, #6f00ff73 48%, #ff686871);
  border-radius: 10px;
  padding: 5px 28px;
  font-size: 2.5rem;
  margin-top: 10vh;
  margin-bottom: 2vh;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.444);
  border: 1px solid white;
  color: white;
}
.title:hover {
  background: linear-gradient(75deg, #00e1ff, #6f00ff 48%, #ff6868);
}

#result {
  background: linear-gradient(75deg, #00e1ff88, #6f00ff73 48%, #ff686871);
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  font-size: 2rem;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.444);
  padding: 4px;
}
#result:hover {
  background: linear-gradient(75deg, #00e1ff, #6f00ff 48%, #ff6868);
}

.container {
  padding: auto;
  text-align: center;
  margin-top: auto;
  position: relative;
  height: 10px;
  width: 100%;
}

.btn {
  padding: 20px 60px;
  background-color: rgb(216, 180, 234);
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: black;
}
.btn:hover {
  box-shadow: 0 0 0 3px #fff;
}

.popup {
  min-width: 600px;
  background: rgb(169, 121, 193);
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  padding: 0 10px 20px 10px;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  height: 370px;
}

.popup h2 {
  font-size: 30px;
  font-weight: 500;
  color: black;
}

.popup button {
  width: 100%;
  padding: 10px 10px;
  background-color: #ff6868;
  color: white;
  border: 0;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 40px;
}
.popup button:hover {
  background: #ee4e4e;
}
.open-popup {
  visibility: visible;
  top: 39%;
  transform: translate(-50%, -50%) scale(1);
}
.popup ol li {
  font-size: 1.2rem;
  margin-bottom: 1px;
  line-height: 0.95;
  color: black;
}

/*Mobile screen styles*/
@media (max-width: 600px) {
  .title {
    font-size: 2.2rem;
    margin-bottom: 7vh;
  }
  .box {
    width: 6rem;
    height: 6rem;
    font-size: 40px;
  }
  .btn {
    padding: 10px 30px;
    font-size: 25px;
  }
  .popup {
    min-width: 400px;
    padding: 0 10px 20px 10px;
    top: 41%;
  }
  .popup h2 {
    margin: 30px 0 10px;
    font-size: 25px;
  }
  .popup button {
    margin-top: 40px;
  }
}

/* For Smaller Screen devices */
@media (max-width: 400px) {
  .title {
    font-size: 2.2rem;
    margin-bottom: 7vh;
  }
  .box {
    width: 6rem;
    height: 6rem;
    font-size: 40px;
  }
  .btn {
    padding: 5px 15px;
    font-size: 20px;
  }
  .popup {
    min-width: 350px;
    padding: 0 10px 20px 10px;
    top: 41%;
  }
  .popup h2 {
    margin: 30px 0 10px;
    font-size: 25px;
  }
  .popup button {
    margin-top: 40px;
  }
}
