/* "Roboto" font from google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: inherit;
}
:root {
  --aliceblue: aliceblue;
}
body {
  background: radial-gradient(
    circle,
    rgba(87, 108, 200, 1) 0%,
    rgba(55, 37, 88, 1) 100%
  );
  font-family: "Roboto", sans-serif;
  color: white;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.playground {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: var(--aliceblue);
  padding: 10px;

  border-radius: 10px;
}

.box {
  background-color: azure;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
  width: 7rem;
  height: 7rem;
  text-align: center;
  font-size: 40px;
  transition: background-color 0.2s ease-in-out;
  color: black;
  font-size: 4.5rem;
}

.box:hover {
  cursor: pointer;
  background-color: rgba(87, 52, 137, 0.59);
}

.box:active {
  background-color: var(--aliceblue);
  border-radius: 5px;
  margin: 0;
}

.title-container h1 {
  color: rgb(40, 40, 40);
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.375),
    transparent
  );
  padding: 0 50px;
  text-shadow: 1px 1px 1px rgb(176, 176, 176);
}
